<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>If you want to talk about product discuss</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>👋 Talk to Founder!</string>
			<key>UIApplicationShortcutItemType</key>
			<string>talk-to-founder</string>
		</dict>
	</array>
</dict>
</plist>
